<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:fragment="header">
	<title>flower and dung board</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css}"/>
</div>
<div th:id="navi" th:fragment="navi">
<p>Navi</p>
</div>	
